@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Georgia';
	src: url('/fonts/georgia.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Georgia';
	src: url('/fonts/georgia-bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Georgia';
	src: url('/fonts/georgia-italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Georgia';
	src: url('/fonts/georgia-italic-bold.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Nexa';
	src: url('/fonts/nexa.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

img {
	max-width: 100%;
	-webkit-user-drag: none;
}

body {
	font-family: 'Georgia', serif;
}

@layer components {
	.content_container {
		@apply max-w-[85%] mx-auto px-5;
	}

	.font_nexa {
		font-family: 'Nexa', sans-serif;
	}
}

@layer utilities {
	.hero_btn {
		background: linear-gradient(
			180deg,
			#b57e10 0%,
			#f9df7b 63.92%,
			#b57e10 100%
		);
		border: 2px solid #c18f23;
		color: black;
		@apply text-2xl px-3 py-1 rounded-2xl overflow-hidden duration-300 hover:opacity-80;
	}
}
